body{
    background-color: beige;
    margin-left: 0px;
    margin-top: 70px;
    font-family: Helvetica;

}

.square {
    font-size: 20px;
    display: flex;
    
}

.top{
background-color: black;
height: 300px;
width: 1200px;
font-size: 150px;
display: flex;
justify-content: left;
-webkit-text-fill-color: beige;
}


.left {
    background-color: green;
    height: 10px;
    width: 120px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    
}

.right {
    background-color: red;
    height: 10px;
    width: 120px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    
}

.right {
    background-color: blue;
    height: 10px;
    width: 120px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    
}


